<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="911621aa-9679-43e9-85a2-1bbede3128c8"
            Publisher="CN=Allan"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>KinectLight</DisplayName>
    <PublisherDisplayName>Allan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="KinectLight.App">
        <VisualElements
            DisplayName="KinectLight"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="KinectLight"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>